{% extends "base.html" %}

{% block content %}
<a class="signup-btn" href="{{ url_for('new_account') }}">Sign up here!</a>
<div class="textbox">
    <a href="{{ url_for('login') }}">
        <div class="logo"></div>
    </a>
    <form>
        <div class="form-container">
            <div class="form-row">
                <label for="user">Username:</label>
                <input type="text" id="user" name="user">
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="button" onclick="redirectHome()">Enter</button>
                
            <p>
                <a href="{{ url_for('username') }}">Forgot username</a>
                |
                <a href="{{ url_for('password') }}">Forgot password</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}