{% extends "base.html"}

{% block content %}
<div class="textbox">
    <a href="{{ url_for('acc_login') }}">
        <div class="logo"></div>
    </a>

    <form method="POST" action="{{ url_for('reset_password', token=token) }}">
        <div class="form-container">

            <div class="form-row">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>

                <small class="input-hint">
                    Must be at least 8 characters long and contain at least 1 letter and 1 number
                </small>
            </div>

            <div class="form-row">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>

                <small class="input-hint">
                    Re-enter the new password to confirm it matches
                </small>
            </div>
            
            <button type="submit">Reset Password</button>

        </div>
    </form>
</div>

{% endblock %}